/* AdminProfile.css */

.admin-profile-container {
  color: black;
  display: flex;
  justify-content: space-between;
}

.admin-data-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 50%;
}

.input-name {
  color: black;
}

.input-email {
  color: black;
}

.update-button {
  width: 20%;
}

.error-message {
  color: orangered;
  font-size: medium;
}

.success-message {
  font-size: medium;
  font-weight: bold;
  color: black;
}

.admin-data-item h3 {
  margin-right: 10px;
}

.admin-data-item input {
  margin-bottom: 0;
  flex: 1;
}

.admin-data-container {
  flex: 1;
  margin-left: 30px;
}

.charts-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pie-chart-container,
.bar-graph-container {
  flex: 1;
}

.pie-chart,
.bar-graph {
  margin: 10px;
}

.no-data-message {
  font-weight: bold;
  font-size: large;
}
