/* AdminProfile.css */

.admin-profile-container {
  color: black;
  display: flex;
  justify-content: space-between;
}

.admin-data-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 50%;
}

.input-name {
  color: black;
}

.input-email {
  color: black;
}

.update-button {
  width: 20%;
}

.error-message {
  color: orangered;
  font-size: medium;
}

.success-message {
  font-size: medium;
  font-weight: bold;
  color: black;
}

.admin-data-item h3 {
  margin-right: 10px;
}

.admin-data-item input {
  margin-bottom: 0;
  flex: 1;
}

.admin-data-container {
  flex: 1;
  margin-left: 30px;
}

.charts-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pie-chart-container,
.bar-graph-container {
  flex: 1;
}

.pie-chart,
.bar-graph {
  margin: 10px;
}

.no-data-message {
  font-weight: bold;
  font-size: large;
}

/* Add these styles to the existing CSS */

/* Styling for the chart selection dropdown */
#chartType {
  padding: 8px 12px; /* Add padding */
  font-size: 16px; /* Set font size */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Add border radius */
  background-color: white; /* Set background color */
  color: black; /* Set text color */
  cursor: pointer; /* Set cursor */
}

/* Hover effect for dropdown options */
#chartType option:hover {
  background-color: #f4f4f4; /* Set hover background color */
}

/* Focus effect for dropdown */
#chartType:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Set focus border color */
}

