header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
  }
  
  nav {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 10px;
    margin-left: auto
  }
  
  button {
    padding: 8px 16px;
    color: white;
    border: none;
    cursor: pointer;
  }
  